* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
  white-space: nowrap;
  /* border: 1px solid red; */
}

.container {
  background-color: rgb(249, 222, 104);
  height: 100vh;
  width: 100%;
}

.container2 {
  height: 100vh;
}


.pageBox {
  width: 100%;
  margin: 0 auto;
  display: flex;
  margin-top: 70px;
  height: auto;
  min-height: 100%;
  padding-bottom: 25vh;
}
.imBox{
  width: 54rem;
  margin: 0 auto;
}







